.footer{
    background-color: #3f51b5 !important;
    bottom: 0;
    width: 100%;
    padding: 20px;
    position: fixed
}
.text-color-white{
    color: white
}
.link-footer{
    color: white;
    font-weight: 600;
}
.link-footer:hover{
    color: black;
    
}