<div class="col-12 footer">
    <div class="container">
        <div class="row">
            
            <div class="col-6 text-color-white">
                <p>
                    This is a sample frontend for the managment of a Band through calls an API on Node + Express server 
                </p>
            </div>

            <div class="col-6 text-color-white text-right">
                <div class="row">
                    <div class="col-10">
                        <p>
                            Code available on <a class="link-footer" href="https://github.com/Asega1996/BandFront">Github</a>
                        </p>
                    </div>
                    <div class="col-2">
                        <a href="https://github.com/Asega1996/BandFront">
                            <span>
                                <img  alt="github" src="../../assets/svg/github-circle-white-transparent.svg">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>