<div class="br-15 bg-color-toolbar p-3 mb-4">
    <div class="col-12 text-center">
        <span class="text-capitalize">welcome to managment APP</span>
    </div>
</div>

<div class="row mb-5">
    <div class="col-3 offset-2 mt-3 mb-4">
        <a class="custom-link" routerLink="/instruments">
            <mat-card class="instruments">
                <div class="mt-2 text-center custom-span">
                    <span class="font-weight-bold">
                        Intruments Managment
                    </span>
                </div>
            </mat-card>
        </a>
    </div>

    <div class="col-3 offset-2 mt-3 mb-4">
        <a class="custom-link" routerLink="/musicians">
            <mat-card class="musicians">
                <div class="mt-2 text-center">
                    <span class="font-weight-bold custom-span">
                        Musicians Managment
                    </span>
                </div>
            </mat-card>
        </a>
    </div>

    <div class="col-3 offset-4-5 mt-3 mb-4">
        <a class="custom-link" routerLink="/calendar">
            <mat-card class="calendar">
                <div class="mt-2 text-center custom-span">
                    <span class="font-weight-bold">
                        Calendar Managment
                    </span>
                </div>
            </mat-card>
        </a>
    </div>
</div>